ul li {
display: inline-block;  
border:solid 5px #4e81a0;
width: 60px;
list-style-type: none;
padding: 15px 15px 15px 25px;
margin-top: 0;
margin-left: 8px;
}
ul li {
    position: relative;
}

ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    white-space:nowrap;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #4e81a0;
    z-index: 1;
}

ul li:hover ul {
    display: block;
    flex-direction: column;
}

ul li ul li {
    display: inline-block;
    border: solid 1px #080a0b;
    width: auto;
    padding: 10px 20px;
    margin: 0;
    background: #fff;
}

nav>ul>li:hover>ul{
    display: block;
}


@media only screen and (max-width: 640px) {
    header {
        position: relative;
        height: 60px;
        display: block;
        background-color:#688495;
        width: 100%;   
    }
    #hamburger {
        padding-left: 20px;
        width: 26px;
        float: left;
        font-size: 2em;
        cursor: pointer;
    }
    #menue-icon {
        display: block;
    }
    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        left: 10px;
        top: 65px;
        width: 35%
    }
    nav:hover ul {
        display: block;
    }
        nav:hover #mobileHide {
        display: none;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    nav>ul li {
        text-align: left;
        font-weight: bold;
        color: darkmagenta;
        float: left;
    }
    nav a {
        text-decoration: none;
        display: inline-block;
        border-top: none;
        padding: 10px 15px;
        color: #080a0b;
    }
}