@font-face { 

font-family: montserrat;

src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
}

h1 {
    color: rgba(3, 3, 14, 0.726);
    font-family: montserrat;
}
a {
    color: rgb(11, 11, 11);
}
        .icon-hover {
                        transition: transform 0.2s;
                }
                .icon-hover:hover {
                        transform: scale(1.5);
                }

.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: left;
}

@media screen and (max-width: 959px) {
    #container {
       width: 100%
    }
}

.education {
    font-family: montserrat;
}


@media print {
   /* Hide elements that are not needed in print */
    header,
    nav,
    img {
        display: none;
    }
    /* Adjust layout for print */
/* Include elements that should be visible in print */
;
}
footer {
    display: block !important;
}
p, h2, h3 {
    font-size: 12pt;
}
h1 {
    font-size: 20pt;
}
@media print {
    @page {
        margin: 1in;
    }
}